[submodule "src/models"]
	path = src/models
	url = git@github.com:koinosexplorer/koinosexplorer-models.git
[submodule "src/protos"]
	path = src/protos
	url = git@github.com:koinosexplorer/koinos-proto-commonjs.git
